# resources-template: &resources-template
#   resources:
#     limits:
#       cpu: 1
#       memory: 2Gi
#     requests:
#       cpu: 100m
#       memory: 128Mi

global:
  edition: ce
  ingress:
    configureCertmanager: false
    class: nginx
    enabled: true
    tls:
      enabled: true
      secretName: wildcard-local-tls
  hosts:
    https: true
    domain: gitlab.local
    gitlab:
      name: gitlab.local
### Настройка внешнего obs.
# ### Настройка внешнего postgres. Взято отсюда https://gitlab.com/gitlab-org/charts/gitlab/-/blob/master/examples/values-external-database.yaml
# postgresql:
#   install: false
#   psql:
#     host: production.postgress.hostname.local
#     password:
#       secret: my-postgres-secret # https://gitlab.com/gitlab-org/charts/gitlab/blob/master/doc/installation/secrets.md#postgresql-secret
#       key: secret
#     port: 5432
#     database: mydb
#     username: myusername
# ###
### Настройка внешнего obs. Взято отсюда https://gitlab.com/gitlab-org/charts/gitlab/-/blob/master/examples/values-external-objectstorage.yaml
  minio:
    enabled: false
  appConfig:
    artifacts:
      bucket: gitlab-artifacts-storage
    backups:
      bucket: gitlab-backup-storage
      tmpBucket: gitlab-tmp-storage
    lfs:
      bucket: gitlab-lfs-storage
    object_store:
      connection:
        secret: gitlab-object-storage # https://gitlab.com/gitlab-org/charts/gitlab/-/blob/master/examples/objectstorage/rails.minio.yaml
      enabled: true
      proxy_download: false
    packages:
      bucket: gitlab-packages-storage
    uploads:
      bucket: gitlab-uploads-storage
  registry:
    bucket: gitlab-registry-storage
registry:
  storage:
    secret: gitlab-registry-storage # https://gitlab.com/gitlab-org/charts/gitlab/-/blob/master/examples/objectstorage/registry.minio.yaml
    key: config


  # Disable Rails bootsnap cache (temporary)
  rails:
    bootsnap:
      enabled: false
  shell:
    # Configure the clone link in the UI to include the high-numbered NodePort
    # value from below (`gitlab.gitlab-shell.service.nodePort`)
    port: 32022

# Don't use certmanager, we'll self-sign
installCertmanager: false

nginx-ingress:
  enabled: false
  controller:
    replicaCount: 1
prometheus:
  install: false
gitlab-runner:
  install: true

# Reduce replica counts, reducing CPU & memory requirements
gitlab:
  registry:
    enabled: true
    hpa:
      minReplicas: 1
      maxReplicas: 1
  gitlab-exporter:
    enabled: false
  toolbox:
    enabled: false
  kas:
    minReplicas: 1
    maxReplicas: 1
  webservice:
    minReplicas: 1
    maxReplicas: 1
  sidekiq:
    minReplicas: 1
    maxReplicas: 1
  gitlab-shell:
    enabled: false
    minReplicas: 1
    maxReplicas: 1
    service:
      type: NodePort
      nodePort: 32022
